################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.AspNet.WebPages.3.0.0
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7
/packages/Microsoft.AspNet.WebApi.Core.5.2.7
/packages/Microsoft.AspNet.WebApi.Client.5.2.7
/packages/Microsoft.AspNet.WebApi.5.2.7
/packages/Microsoft.AspNet.Razor.3.0.0
/packages/Microsoft.AspNet.Mvc.5.0.0
/packages/log4net.2.0.8
/packages/FrameworkDotNetExtended.1.0.5
/packages/EntityFramework.6.1.3
/packages/SimpleInjector.Integration.Web.2.7.3
/packages/SimpleInjector.Extensions.ExecutionContextScoping.2.7.3
/packages/SimpleInjector.2.7.3
/packages/SharpZipLib.0.86.0
/packages/Newtonsoft.Json.6.0.4
/packages/SimpleInjector.Integration.WebApi.2.7.3
/packages/SimpleInjector.Integration.Web.Mvc.2.7.3
/FrameworkASPNET/bin/Debug
/.vs
/src/.vs
/FrameworkASPNET/obj
/src/FrameworkASPNET/bin/Debug
/src/FrameworkASPNET/obj
/src/packages/SimpleInjector.Integration.WebApi.2.7.3
/src/packages/SimpleInjector.Integration.Web.Mvc.2.7.3
/src/packages/SimpleInjector.Integration.Web.2.7.3
/src/packages/SimpleInjector.Extensions.ExecutionContextScoping.2.7.3
/src/packages/SimpleInjector.2.7.3
/src/packages/SharpZipLib.0.86.0
/src/packages/Newtonsoft.Json.6.0.4
/src/packages/Microsoft.Web.Infrastructure.1.0.0.0
/src/packages/Microsoft.AspNet.WebPages.3.0.0
/src/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7
/src/packages/Microsoft.AspNet.WebApi.Core.5.2.7
/src/packages/Microsoft.AspNet.WebApi.Client.5.2.7
/src/packages/Microsoft.AspNet.WebApi.5.2.7
/src/packages/Microsoft.AspNet.Razor.3.0.0
/src/packages/Microsoft.AspNet.Mvc.5.0.0
/src/packages/log4net.2.0.8
/src/packages/FrameworkDotNetExtended.1.0.5
/src/packages/EntityFramework.6.1.3
/src/FrameworkASPNET/.sonarqube
/src/.sonarqube
