################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.Web.Infrastructure.1.0.0.0
